﻿<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Write to Excel Service</h1>
            </hgroup>

        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @*<input type="file"/>*@
        <div>
            <label for="fileUpload">
                Select File to Upload:
            </label>
            <input id="fileUpload" type="file" />

            <input id="btnUploadFile" type="button" value="Upload File" />

            <script type="text/javascript">
                $(document).ready(function () {

                    $('#btnUploadFile').on('click', function () {

                        var data = new FormData();

                        var files = $("#fileUpload").get(0).files;

                        // Add the uploaded image content to the form data collection
                        if (files.length > 0) {
                            data.append("UploadedImage", files[0]);
                        }

                        // Make Ajax request with the contentType = false, and procesDate = false
                        $.ajax({
                            type: "POST",
                            url: "/api/transform",
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (data, textStatus, jqXHR) {
                                console.log('data: ', data);
                                console.log('textStatus: ', textStatus);
                                console.log('jqXHR: ', jqXHR);
                            },
                            error: function (result, status, err) {
                                console.log('result: ', result);
                                console.log('status: ', status);
                                console.log('err: ', err);
                            }
                        });
                    });
                });
            </script>
        </div>
    </section>
</div>
